<div class="max-w-lg mx-auto bg-white rounded-t-lg border-t border-l border-r overflow-hidden mt-8">
  <div class="px-8 py-6">

    <div class="font-bold text-base text-gray-500 mb-4">
      Test #1
    </div>

    <p class="text-gray-700 text-xl">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem cupiditate delectus eos fuga ipsa labore
      molestias nam nobis, obcaecati officiis qui reprehenderit sapiente sint sit tempore voluptas. Ea, porro!
    </p>

  </div>
</div>

<div class="max-w-lg mx-auto bg-gray-500 text-white rounded-b-lg border-b border-l border-r overflow-hidden mb-8">
  <div class="px-8 py-6">

    <div class="my-2 flex flex-col">

      <button class="transition duration-500 bg-gray-200 hover:bg-gray-400 text-gray-800 font-medium text-lg my-2 py-4 px-2 rounded flex-1 items-center">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolores exercitationem itaque.</span>
      </button>

      <button class="transition duration-500 bg-gray-200 hover:bg-gray-400 text-gray-800 font-medium text-lg my-2 py-4 px-2 rounded flex-1 items-center">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, voluptatibus.</span>
      </button>

      <button class="transition duration-500 bg-gray-200 hover:bg-gray-400 text-gray-800 font-medium text-lg my-2 py-4 px-2 rounded flex-1 items-center">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolor id laboriosam libero sed totam?</span>
      </button>

    </div>

  </div>
</div>
