<div class="container mx-auto">

  <div *ngIf="isFinished()"
       class="flex flex-row justify-center bg-gray-200 mb-4">

    <button
      (click)="initTests('by-definition')"
      class="transition duration-500 bg-gray-600 hover:bg-gray-400 text-gray-800 font-medium text-lg mx-2 mt-4 py-2 px-8 rounded">
      New tests by definition
    </button>

    <button
      (click)="initTests('by-word')"
      class="transition duration-500 bg-gray-600 hover:bg-gray-400 text-gray-800 font-medium text-lg mx-2 mt-4 py-2 px-8 rounded">
      New tests by word
    </button>

  </div>

  <app-test *ngIf="tests.length"
            [num]="currentIndex + 1"
            [test]="currentTest"
            (onAnswer)="checkAndAdvance($event)"
  ></app-test>

  <div class="flex flex-row flex-wrap justify-center bg-gray-200 mb-4">
    <div
      *ngFor="let test of tests; let idx=index"
      class="text-gray-700 text-center bg-gray-300 px-2 py-1 m-0"
      [class.bg-gray-400]="idx === currentIndex"
      [class.bg-green-200]="test.isCorrect"
      [class.bg-red-200]="test.isCorrect != null && false === test.isCorrect"
    >
      {{idx + 1}}
    </div>
  </div>

</div>
